<header class="site-header">

  <div class="wrapper">

    {% if page.layout != "about" %}
    <span class="site-title">
        {% assign name = site.name | split: ' ' %}
        <a href="{{ site.baseurl | prepend: site.url }}/"><strong>{{ name | first }}</strong> {{ name | last }}</a>
    </span>
    {% endif %}

    <nav class="site-nav">

      <div class="trigger">
        <!-- About -->
        <a class="page-link" href="{{ site.baseurl | prepend: site.url }}/">About</a>

        <!-- Blog -->
        <a class="page-link" href="{{ '/blog/' | prepend: site.baseurl | prepend: site.url }}">Blog</a>

        <!-- Pages -->
        {% for page in site.pages %}
          {% if page.title and page.url != "/" %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
        <!-- github -->
        <a class="page-link" href="https://github.com/santoshkumarradha">Github</a>
        <!-- flicker -->
        <!-- <a class="page-link" href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwj3sIP5grzdAhWmq1kKHX9zCA0QFjAAegQIBxAB&url=https%3A%2F%2Fwww.flickr.com%2Fphotos%2Fsantyphotography%2F&usg=AOvVaw3wIh929JJSpXgNa3DHo7cb">Photography</a> -->
        <!-- design -->
        <!-- <a class="page-link" href="https://www.behance.net/instrumentsantosh">Design</a> -->
        <!-- CV link -->
        <!-- <a class="page-link" href="{{ '/assets/pdf/CV.pdf' | prepend: site.baseurl | prepend: site.url }}">vitae</a> -->

      </div>
    </nav>

  </div>

</header>
